/*
============================================
; Title:  style.css
; Author: Professor Krasso
; Date:   25 June 2017
; Description: Global styling for week's 7 through 9
;===========================================
*/
html{
  font-family: 'Roboto', sans-serif;
}

nav{
  background-color: aqua;
  height: 50px;
  text-align: center;
  margin-bottom: 20px;
}

#fruits, #main{
  margin-left: 20px;
}

.tableHover tr:hover{
  background-color: #ffff99;
}

/*
Professor Krasso css starts here
*/
table {
    border-collapse: collapse;
  }

  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 5px;
  }

  th {
    background-color: steelblue;
    color: white;
  }

  tr:nth-child(even) {
    background-color: lightsteelblue;
  }

/*
Professor Krasso css ends here
*/
